---
layout: default
---
<script type="text/javascript">
  document.getElementById('cat_buttons').style.display = 'flex';

  function dispProjects() {
    document.getElementById('dispProj').style.display = 'flex';
    document.getElementById('dispPosts').style.display = 'none';
    document.getElementById('dispNews').style.display = 'none';

    document.getElementById('btnProjects').style.backgroundColor = 'black';
    document.getElementById('btnProjects').style.color = 'white';
    document.getElementById('btnPosts').style.backgroundColor = 'white'
    document.getElementById('btnPosts').style.color = 'black';
    document.getElementById('btnNews').style.backgroundColor = 'white';
    document.getElementById('btnNews').style.color = 'black';
  }
  function dispPosts() {
    document.getElementById('dispProj').style.display = 'none';
    document.getElementById('dispPosts').style.display = 'flex';
    document.getElementById('dispNews').style.display = 'none';

    document.getElementById('btnProjects').style.backgroundColor = 'white';
    document.getElementById('btnProjects').style.color = 'black';
    document.getElementById('btnPosts').style.backgroundColor = 'black';
    document.getElementById('btnPosts').style.color = 'white';
    document.getElementById('btnNews').style.backgroundColor = 'white';
    document.getElementById('btnNews').style.color = 'black';
  }
  function dispNews() {
    document.getElementById('dispProj').style.display = 'none';
    document.getElementById('dispPosts').style.display = 'none';
    document.getElementById('dispNews').style.display = 'flex';

    document.getElementById('btnProjects').style.backgroundColor = 'white';
    document.getElementById('btnProjects').style.color = 'black';
    document.getElementById('btnPosts').style.backgroundColor = 'white';
    document.getElementById('btnPosts').style.color = 'black';
    document.getElementById('btnNews').style.backgroundColor = 'black';
    document.getElementById('btnNews').style.color = 'white';

  }
</script>

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
    <div id='cat_buttons' class="about">
      <button type="button" id="btnProjects" value="Projects" onclick="dispProjects()"
              style="background-color: black; border-color: black; color: white; border-width: 1px">Projects</button>&nbsp;
      <button type="button" id="btnPosts" value="Posts" onclick="dispPosts()"
              style="background-color: white; border-color: black; color: black; border-width: 1px" >Posts</button>&nbsp;
      <button type="button" id="btnNews" value="News" onclick="dispNews()"
              style="background-color: white; border-color: black; color: black; border-width: 1px">News</button>&nbsp;
    </div>

  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>